:root {
    --branco-principal: #FFFFFF;
    --azul-claro: #1E90FF;
    --azul-marinho: #00008B;
    --cinza-claro: #A9A9A9;
    --fonte-principal: 'inter';
    }

body {
    background-color: var(--branco-principal);
    color: var(--azul-marinho);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight:400;
}

* {
margin: 100;
padding: 0;

}

.principal {
    background-image: url("https://lh3.googleusercontent.com/pw/ABLVV86irxs5vvAShcQnrTkK2iBte0hiQcM1W_BhXl1AhrycxvP2n0AEO9e3RCTx42XWbfBp5XkS691xFaLe25XwiLotsknGudG2BvVPQUqPY_tTiiU4xVYXFViDD_YY6OShnGwGsBQzrVN-1CRFAdJG-ErmK0p-XheMLMii8KEF2yKsIhj9kCO2Mrhtzh0HRYmbcQR9E9gfAd9AJ3KUX1J29vId5rmKMHGT1ZNTH3e344TBuGzW3JDMY6-bFNH8rMqq6pM95FfZARoYHcQVQBvKPjW_gI-mKkQ6NLMVaIstl741RNuoXJ-ANFg4gWsvv9d0zlkZnuW-IMsZ6bUU7tlXT9IO-DdShJnhHNbCrimpPbiTcWavvBRCsyBZxc_k1O8XzUo5nH6SoMgnJZqgkcA-Mp58PdpKkRchFF-m3XoPBz47bmXbVUc7vr-YrpwQZvYvmOtm5WMtCcsUc11jcJNUs9DJti27iMiE-F0azXfLlkYBHDRw7l3qGR7DaxhnSqprsSywrs7i-UVwpFbInRjzCibtxSLMLnb_gEjFQt7PP0frrl7bhUC9EtwfA1hytDQaMyCM30iyJYPNmkH1eNYb8XbvLEbesw3ReO1hb5AZWoAHbI9m1XfxPRc7WB-kIG0W-4SoMJlKYWLFat2lg6fBDrAXfZJuhPkCmupUjYZRTcxoqftreWobcGvEuaMWZYAogQHPV_tubRbSKGsz5VAHMEHxCdYE1MT8ctYxD6tP26ihjWckU9Vsbbu0u4U9bU2Ae5X99yT5LWfS485oF-3vSZTg4voyKQePnWOl8ec0Hu-UYQVwtTByB2eybjVTMDr10qdgt3DHi_rKfsLrVtpSFR6Vh6Ty5GLsB4wOwiBWvPeMl6jNZPfYrVgQSXUOriDYtvgV8f7EaSVRJnEqwGUgiaWh=w882-h297-s-no-gm?authuser=0");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;


}

.container__botao {
    background-color: var(--cinza-claro);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    margin-bottom: 10em;
}

.container__botao2 {
    background-color: var(--cinza-claro);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
}

.container__titulo {
    font-size: 42px;
    font-size: 700;

}

.container__imagem {
    margin: 1em 0 2em 0 3em 0 4em 10 ;

}

.container__caixa {
    margin: 8em 20em;

}
