:root {
    --branco-principal: #FFFFFF;
    --azul-claro: #1E90FF;
    --azul-marinho: #00008B;
    --cinza-claro: #A9A9A9;
    --fonte-principal: 'inter';
    }

body {
    background-color: var(--branco-principal);
    color: var(--azul-marinho);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight:400;
}

* {
margin: 100;
padding: 0;

}

.principal {
    background-image: url("img/sommalogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;


}

.container__botao {
    background-color: var(--cinza-claro);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    margin-bottom: 10em;
}

.container__botao2 {
    background-color: var(--cinza-claro);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
}

.container__titulo {
    font-size: 42px;
    font-size: 700;

}

.container__imagem {
    margin: 1em 0 2em 0 3em 0 4em 10 ;

}

.container__caixa {
    margin: 8em 20em;

}
